#jEntropy { 
	width: 250px; 
	height: 250px; 
	margin: 10px; 
	margin-right: 50px;
    background: #666;
    border: 4px solid #222;
    float: right;
    text-align: center;
    display: none;
    z-index: 200;
}

#jEOverlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	background-color: #000;
	filter:alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}

	